html,body{
	height: 100%;
  margin: 0px;
}
.page {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    height: 100vh;
}
.navbar {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 800;
  display: block;
  font-size: 2vh;
	position: fixed;
	padding-left: 3vh;
	padding-right: 3vh;
	padding-bottom: 1vh;
	padding-top: 2vh;
	top: 0;
	right: 0;
	left: 0;
  cursor: pointer;
}
.navbar a {
  float: right;
  color: grey;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover {
  color: #302F2F;
}
.centered {
    position: absolute;
    top: 25vh;
    left: 11vh;
    font-size: 22vh;
    font-family: sans-serif;
    font-weight: 600;
    color: #302F2F;
}
.scrolldown {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: block;
    color: grey;
    position: absolute;
    bottom: 2vh;
    font-size: 2vh;
    left: 47%;
}
.back {
  height: 4vh;
  position: absolute;
  left: 2vh;
  top: 2vh;
}
.back:hover {
  height: 6vh;
}
.icons {
  height: 6vh;
  position: absolute;
  padding: 10vh;
  filter: grayscale(100%);
}
.icons:hover {
  height: 7vh;
  filter: grayscale(0%);
}
.iama {
  position: absolute;
  bottom: 6vh;
  left: 10vh;
  font-size: 30vh;
  color: grey;
  font-family: sans-serif;
  font-weight: 800;
}
.contact{
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    display: block;
    color: grey;
    position: absolute;
    font-size: 5vh;
    top: 15vh;
    left: 34vh;
}
.box {
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    display: block;
    color: grey;
    position: absolute;
    font-size: 2vh;
    width: 80vh;
    padding: 3vh;
    border: 5px solid grey;
    margin-left: 67vh;
    position: absolute;
    margin-top: 20vh;
}
.hopefully {
    position: absolute;
    bottom: 1vh;
    right: 5vh;
    font-size: 3vh;
    font-family: "Courier New", Courier, monospace;
}

.centertext {
    position: absolute;
    top: 20vh;
    left: 40vh;
    margin-left: 20vh;
    font-size: 6vh;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

hr {
    margin: auto;
    width: 55%;
}